# Python virtual environment
venv

# miscellaneous
misc/

# logs and results
logs/
results/

# ignore .env* config files but keep template file
.env*
!.env-template

# data sample for tests
test-data/

# Python module compilation
__pycache__/

# Visual Studio code local directory
.vscode/

