# Python virtual environment
venv

# temp data
tmp/

# miscellaneous
misc/

# config file
autoclassweb.ini

# data sample for tests
test-data/

# autoclass binary and program archives
bin/*

__pycache__/

# Sublime Text project and workspace files
*sublime-*
