# miscellaneous
misc/

# Logs and results.
logs/
results/

# Config files but keep template file.
config/*.cfg
!config/autoclassweb-template.cfg

# Data sample for tests.
test-data/

# Python module compilation.
__pycache__/

# Visual Studio code local directory.
.vscode/

