[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[packages]
pandas = "*"
flask = "*"
flask-wtf = "*"
psutil = "*"
chardet = "*"
autoclasswrapper = "*"
gunicorn = "*"

[dev-packages]

