[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[packages]

pandas = "*"
flask = "*"
flask-wtf = "*"
psutil = "*"
chardet = "*"


[dev-packages]



[requires]

python_version = "3.5"
