html, body {
  height: 100%;
}

/* Sticky footer uses flexbox
 * see: https://css-tricks.com/couple-takes-sticky-footer/#article-header-id-3
 */
body {
  display: flex;
  flex-direction: column;
}

body > .content {
    padding-top: 20px;
    flex: 1 0 auto;
}

/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
    padding: 0.5em;
    text-align: left;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu {
    background: #2d3e50;
}
.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #6FBEF3;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}

h1 {
    font-size: 32px;
    line-height: 38px;
}

h2 {
    font-size: 24px;
    line-height: 28px;
}

.helper {
    margin-bottom: 15px;
}

.helper a:link, .helper a:visited {
    color: #171a1c !important;
}

.errors {
    list-style-type: none;
    color: red;
    padding-left:0;
}

.error {
    color: red;
    font-weight: bold;
    margin-bottom: 5px;
}

.flash {
    list-style-type: none;
    padding-left: 0;
}

.flash > .error {
    color:red;
}

#inputlog {
    display: none;
}

pre.log {
    margin-bottom: 0px;
}

.status {
    margin-top: 5px;
    margin-bottom: 5px;
}

.job-name {
     font-family: monospace;
 }

 /* This is the class used for the footer */
 .footer {
     background: #111;
     position: fixed;
     bottom: 0;
     width: 100%;
 }

footer a:link, a:visited {
    text-decoration: none;
    color: #6C757D;
}

footer a:hover {
    text-decoration: underline;
}
