html, body {
  height: 100%;
}

body > .container {
        padding-top: 50px;
        padding-bottom: 50px;
}

.navbar {
    padding-top: 3px;
    padding-bottom: 3px;
}


.errors {
    list-style-type: none;
    color: red;
    padding-left:0;
}

.error {
    color: red;
    font-weight: bold;
    margin-bottom: 5px;
}

.flash {
    list-style-type: none;
    padding-left: 0;
}

.flash > .error {
    color:red;
}

#inputlog {
    display: none;
}

.status {
    margin-top: 5px;
    margin-bottom: 5px;
}
