html, body {
  height: 100%;
}

/* Sticky footer uses flexbox
 * see: https://css-tricks.com/couple-takes-sticky-footer/#article-header-id-3
 */
body {
  display: flex;
  flex-direction: column;
}

body > .container {
    padding-top: 50px;
    flex: 1 0 auto;
}

.navbar {
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid #B3B3B3;
}

h1 {
    font-size: 32px;
    line-height: 38px;
}

h2 {
    font-size: 24px;
    line-height: 28px;
}

.errors {
    list-style-type: none;
    color: red;
    padding-left:0;
}

.error {
    color: red;
    font-weight: bold;
    margin-bottom: 5px;
}

.flash {
    list-style-type: none;
    padding-left: 0;
}

.flash > .error {
    color:red;
}

#inputlog {
    display: none;
}

.status {
    margin-top: 5px;
    margin-bottom: 5px;
}

.job-name {
     font-family: monospace;
 }

footer {
    margin-top: 10px;
    border-top: 1px solid #B3B3B3;
    flex-shrink: 0;
    text-align: center;
}

footer a:link, a:visited {
    text-decoration: none;
    color: #6C757D;
}

footer a:hover {
    text-decoration: underline;
}
