{% extends "layout.html" %}

{% block meta %}
    <meta http-equiv="refresh" content="30">
{% endblock %}

{% block body %}
<article>

<p>
autoclass@web is a web interface to <a href="https://ti.arc.nasa.gov/tech/rse/synthesis-projects-applications/autoclass/autoclass-c/" target="_blank">AutoClass C</a>, an unsupervised Bayesian classification system developped by the NASA.
</p>
<p>
It utilizes <a href="https://github.com/pierrepo/autoclasswrapper" target="_blank">autoclasswrapper</a>, a Python wrapper for AutoClass C.
</p>
<hr />

<h1>Input data</h1>

<p>
Input data file is tab-delimited and must comply with the <a href="https://en.wikipedia.org/wiki/Tab-separated_values"
target="_blank">Tab-separated values</a> format.
</p>
<p>
The first line must be a header with column names.
Avoid accentuated or special characters (<tt>$&!/β</tt>) or space. These characters will be automatically replaced by <tt>_</tt>. Avoid also lengthy column names.
Column names must be unique.<br />
The first column must be gene/protein/object names.
</p>
<p>
Missing data are allowed and must be encoded with an empty value, i.e. nothing,
(don't use <tt>NA</tt>, <tt>?</tt>, <tt>None</tt> or <tt>' '</tt>). <br />
Example (missing value for <tt>prot1</tt> in <tt>exp2</tt>
and <tt>prot3</tt> in <tt>exp1</tt>):
<pre>
name	exp1	exp2	exp3
prot1	0.123		550.61
prot2	0.003	4.966	27.77
prot3		7.723	9345.34
</pre>
</p>
<p>
Your data must belong to one of the following categories:
</p>

<h2>Real Scalar</h2>
<p>
Singly bounded real values, typically bounded below at zero
(e.g: length, weight, age).<br />
Example:
<pre>
name	exp1	exp2	exp3
prot1	0.123	1.723	550.61
prot2	0.003	4.966	27.77
prot3	1.812	7.723	9345.34
</pre>
</p>

<h2>Real Location</h2>
<p>
Other real values that can be both negative or positive (e.g: microarray log ratio, elevation, position). <br />
Example:
<pre>
name	exp4	exp5	exp6
prot1	-18.3	1.723	-5.6151
prot2	14.7	-0.006	-2.7779
prot3	-22.5	0.023	9.3441
</pre>
</p>

<h2>Discrete</h2>
<p>
Qualitative data (e.g. color, phenotype, name...). <br />
Example:
<pre>
name	tissu	condition
prot1	muscle	light
prot2	nervous	light
prot3	muscle	shadow
</pre>
</p>

<p>
<strong>Note:</strong> if your dataset contains several types of data
(real scalar, real location, discrete), then split your dataset into
mutliple datasets with homogeneous data type.
</p>

<h1>Classification job</h1>

<p>
Classification jobs are listed in the <a href="/status">status</a> page.
</p>
<p>
The maximum running time for a job is {{ config.FLASK_JOB_TIMEOUT }} seconds.
</p>
<p>
    Depending on how autoclass@web has been configured, you might receive
    by e-mail a link to download results and/or have the ability to download
    results directly from the <a href="/status">status</a> page.
</p>

<h1>Results</h1>
<p>
Results are bundled in a zip archive with the following files:
</p>
<ul>
<li>
    <tt>something_out.cdt</tt> and <tt>something_out_withproba.cdt</tt> can be open with
    <a href="http://jtreeview.sourceforge.net/">Java TreeView</a>.
    The file <tt>something_out_withproba.cdt</tt> exhibits the probability for each gene/protein/object
    to belong to each class.
</li>
<li>
    <tt>something_out_stats.tsv</tt> contain means and standard deviations
    of numeric columns (<it>real scalar</it> and <it>real location</it>) for each class.
</li>
<li>
    <tt>something_out_dendrogram.png</tt> is a dendrogram representing the distance between all classes.
</li>
<li>
    <tt>something_out.tsv</tt> contains all the data with the class assignement and membership probabilities for all classes. This files is the <it>Tab-separated values</it> format and can then easily parsed with Excel, R, Python...
</li>
</ul>

<h1>More on the AutoClass algorithm</h1>

<p>
AutoClass is an unsupervised Bayesian classification system.
It offers multiple advantages:
<ul>
    <li>Number of classes are determined automatically.</li>
    <li>Missing values are allowed.</li>
    <li>Real and discrete values can be combined (in separate input files).</li>
    <li>Class membership probabilities are also computed.</li>
</ul>
</p>

</article>
{% endblock %}
