{% extends "layout.html" %}
{% block body %}


    <h1>Enter your input data and parameters</h1>
    <form class="pure-form pure-form-aligned" action="" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {% if config["FLASK_RESULTS_BY_EMAIL"] %}
        <div class="pure-control-group">
            <label for="mailaddress">{{form.mail_address.label}}</label>
            <input type="text" class="form-control"
                   id="mailaddress"
                   name="mail_address"
                   placeholder="enter here your e-mail address">
        </div>
        {% endif %}
        <p>
        Input data files must comply with the
        <a href="https://en.wikipedia.org/wiki/Tab-separated_values"
           target="_blank">tab-separated values
        </a> format.<br />
        See <a href="/help" target="_blank">Help</a>
        for more information on input data.<br />
        You can add data in one or several categories below.
        </p>

        {% if job_m.running | length < config["FLASK_MAX_JOBS"] %}
        <fieldset>
        {% else %}
        <fieldset disabled>
        {% endif %}
            <legend>Real Scalar</legend>
            <p>Singly bounded real values, typically bounded below at zero
                (e.g: length)
            </p>
            <div class="pure-control-group">
                <label for="scarlarInputFile">
                    {{form.scalar_input_file.label}}
                </label>
                <input type="file" class="form-control-file"
                       id="scarlarInputFile"
                       name="scalar_input_file">
            </div>
            <div class="pure-control-group">
                <label for="scarlarInputError">
                       {{ form.scalar_error.label }}
                </label>
                <input type="text" class="form-control"
                       id="scarlarInputError"
                       name="scalar_error"
                       value={{form.scalar_error.default}}
                       placeholder="{{ form.scalar_error.placeholder }}">
                <span class="pure-form-message-inline">
                    Relative error on data. Optional.<br />
                    Default = 0.01 i.e. 1% of value.
                </span>
            </div>
            <legend>Real Location</legend>
            <p>Other real values
                (e.g: microarray log ratio, elevation, position)
            </p>
            <div class="pure-control-group">
                <label for="locationInputFile">
                    {{form.location_input_file.label}}
                </label>
                <input type="file" class="form-control-file"
                       id="locationInputFile"
                       name="location_input_file">
            </div>
            <div class="pure-control-group">
                <label for="locationInputError">
                       {{ form.location_error.label }}
                </label>
                <input type="text" class="form-control"
                       id="locationInputError"
                       name="location_error"
                       value={{ form.location_error.default }}>
                <span class="pure-form-message-inline">
                    Absolute error on data. Optional.<br />
                    Default = 0.01 i.e. value ± 0.01.
                </span>
            </div>
            <legend>Discrete</legend>
            <p>Qualitative data (e.g. color, phenotype, name...)</p>
            <div class="pure-control-group">
                <label for="discreteInputFile">
                       {{ form.discrete_input_file.label }}
                </label>
                <input type="file" class="form-control-file"
                       id="discreteInputFile"
                       name="discrete_input_file">
            </div>
                {{ form.submit }}
                {% if job_m.running | length >= config["FLASK_MAX_JOBS"] %}
                <span class="pure-form-message-inline">
                Max number of jobs reached. Please wait.
                </span>
                {% endif %}
        </fieldset>
    </form>

    <hr />
    <p>Server status: {{ job_m.running | length }} jobs running
        ({{ config["FLASK_MAX_JOBS"] }} max)
    </p>

{% endblock %}
