{% extends "layout.html" %}
{% block body %}

<article>
    {% if session["status"] == "running" %}
    <p>
    Congratulation. Your autoclass@web job is now running.
    Let's hope your data will cluster nicely!
	</p>
    <div class="form-group row">
        <label for="jobid" class="col-sm-2 col-form-label">Job name:</label>
        <input type="text" readonly class="form-control col-sm-10" id="jobid" value="{{ job_name }}">
    </div>
    {% if session["mail_address"] %}
        <p>An e-mail will be send to {{ session["mail_address"] }}
            upon completion of your autoclass@web job.</p>
        <p>You can also check your job <a href="/status">status</a>.</p>
    {% else %}
    	<p>Check regularly your job <a href="/status">status</a>.</p>
        {% endif %}
    {% else %}
    <div class='error'>
    Something went wrong in autoclass job initialization. Check your input files and parameters.
    </div>
    {% endif %}

{# Display log for data preparation
    * Hidden by default
    * "-" at the end of the for loop ("-%}") is used to control
    whitespace and newline
    See: http://jinja.pocoo.org/docs/2.10/templates/#whitespace-control
#}
<p><a href="#" onclick="$('#inputlog').toggle();">Hide/show</a> log of data preparation.</p>
<div id="inputlog">
{% for line in session["log"].split("\n") -%}
    {% if "ERROR" in line -%}
    <pre class="error log">{{ line }}</pre>
    {% else %}
    <pre class="log">{{ line }}</pre>
    {% endif %}
{% endfor %}
</div>

</article>

{% endblock %}
