{% extends "layout.html" %}

{% block meta %}
    <meta http-equiv="refresh" content="30">
{% endblock %}

{% block body %}
<article>
    <div class="text-muted helper status">
    Page will autorefresh every 30 seconds.
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Job name </th>
                <th>Created</th>
                <th>Status</th>
                <th>Running time (min)</th>
            </tr>
        </thead>
        <tbody>
            <!-- start with running jobs -->
            {% for job in job_m.running %}
            <tr class="running">
                <td>{{ job.name }}</td>
                <td>{{ job.ctime.strftime("%Y-%m-%d %H:%M:%S") }}</td>
                <td>{{ job.status }}</td>
                <td>{{ "{:.2f}".format(job.running_time) }}</td>
            </tr>
            {% endfor %}
            <!-- and then with completed jobs -->
            {% for job in job_m.stopped %}
            <tr class="stopped">
                <td>{{ job.name }}</td>
                <td>{{ job.ctime.strftime("%Y-%m-%d %H:%M:%S") }}</td>
                {% if session["link_results"] and job.status == "completed" %}
                    <td>
                        <a href="/download/{{ job.name }}"
                           class="btn btn-success btn-sm">
                            {{ job.status }}
                        </a>
                    </td>
                {% else %}
                    <td>{{ job.status }}</td>
                {% endif %}
                <td>{{ "{:.2f}".format(job.running_time) }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
</article>
{% endblock %}
