{% extends "layout.html" %}
{% block body %}

<article>
    <header>
        <p>Welcome at autoclass@web</p>
    </header>
    <p>Enter here your input data and parameters:</p>
    <form action="" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <p>{{form.job_name.label}} {{form.job_name(size=30)}}</p>
        <div>between 5 and 30 characters</div>
        <fieldset>
            <legend>Real Scalar</legend>
            <div>singly bounded real values, typically bounded below at zero (e.g: length)</div>
            <p>{{form.input_file.label}} {{form.input_file}}</p>
            <div class="helper">The data file must comply with tabulation-separated values format</div>
            <p>{{form.has_header.label}} {{form.has_header}}</p>
            <p>{{form.error.label}} {{form.error}}</p>
            <div class="helper">Relative error on data (optional, default = 0.01 i.e. 1%)</div>
        </fieldset>
        <p>{{form.submit}}</p>
    </form>
    
    

{% endblock %}

