{% extends "layout.html" %}
{% block body %}

<article>
    <header>
        <h1>Welcome at autoclass@web</h1>
    </header>
    <p>Enter here your input data and parameters:</p>
    <form action="" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <p>{{form.job_name.label}} {{form.job_name(size=30)}}</p>
        <div>between 5 and 30 characters</div>
        <fieldset>
            <legend>Real Scalar</legend>
            <div>singly bounded real values, typically bounded below at zero (e.g: length)</div>
            <p>{{form.scalar_input_file.label}} {{form.scalar_input_file}}</p>
            <div class="helper">The data file must comply with tabulation-separated values format</div>
            <p>{{form.scalar_has_header.label}} {{form.scalar_has_header}}</p>
            <p>{{form.scalar_error.label}} {{form.scalar_error}}</p>
            <div class="helper">Relative error on data (optional, default = 0.01 i.e. 1%)</div>
        </fieldset>
        <p>{{form.submit}}</p>
    </form>
    
    <hr />
    <h1>Server status</h1>
    <p>{{ jobs["running"] | length }} jobs running / {{ jobs["max"] }} max 
        {% for job in jobs["running"] %}
        [ {{ job }} ] 
        {% endfor %}
    </p>
    <p>{{ jobs["completed"] | length }} jobs completed
        {% for job in jobs["completed"] %}
        [ {{ job }} ] 
        {% endfor %}
    </p>
    <a href="status">Show jobs / retrieve results</a>
{% endblock %}
