{% extends "layout.html" %}
{% block body %}

<article>
    {% if status == "running" %}
    <p>
    Congratulation. Your autoclass job is now running. Let's hope your data will cluster nicely!
	</p>
    <div class="form-group row">
        <label for="jobid" class="col-sm-2 col-form-label">Job id</label>
        <input type="text" readonly class="form-control col-sm-10" id="jobid" value="{{ job_name }}">
    </div>
    {% if session["mail_address"] %}
        <p>A mail will be send to {{ session["mail_address"] }}</p>
        <p>You can also check your <a href="/status">job status</a>.</p>
    {% else %}
    	<p>Check regularly your <a href="/status">job status</a>.</p>
        {% endif %}
    {% else %}
    <div class='error'>
    Something went wrong in autoclass job initialization. Check your input files and parameters.
    </div>
    {% endif %}

    <p><a href="#" onclick="$('#inputlog').toggle();">Hide/show</a> log of data preparation.</p>

    <pre id="inputlog">
{{ log }}
    </pre>
</article>

{% endblock %}
