{% extends "layout.html" %}
{% block body %}

<article>
    <header>
        <p>Status of autoclass@web server</p>
    </header>

    <hr />
    <table>
        <tr>
            <th>Job name </th>
            <th>Created</th>
            <th>Status</th>
            <th>Running time (min)</th>
            <th>Results</th>
        </tr>
        <!-- start with running jobs -->
        {% for job in job_m.running %}
        <tr class="running">
            <td>{{ job.name }}</td>
            <td>{{ job.ctime.strftime("%Y-%m-%d %H:%M:%S") }}</td>
            <td>{{ job.status }}</td>
            <td>{{ "{:.2f}".format(job.running_time) }}</td>
            <td></td>
        </tr>
        {% endfor %}
        <!-- and then with completed jobs -->
        {% for job in job_m.completed %}
        <tr class="completed">
            <td>{{ job.name }}</td>
            <td>{{ job.ctime.strftime("%Y-%m-%d %H:%M:%S") }}</td>
            <td>{{ job.status }}</td>
            <td>{{ "{:.2f}".format(job.running_time) }}</td>
            <td>{{ "Download" if job.token else "" }}</td>
        </tr>
        {% endfor %}
    </table>
    
    <p>Enter here job name and password to download results:</p>
    <form action="" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <p>{{form.job_name.label}} {{form.job_name}}</p>
        <div class="helper">
        Job name must have xx characters.
        </div>
        <p>{{form.job_password.label}} {{form.job_password}}</p>
        <div class="helper">Password must have xx characters.</div>
        <p>{{form.submit}}</p>
    </form>

</article>

{% endblock %}
