body > .container {
        padding-top: 60px;
}

.errors {
    list-style-type: none;
    color: red;
    padding-left:0;
}

.flash {
    list-style-type: none;
    padding-left: 0;
}

.flash > .error {
    color:red;
}
